<div class="secretaria__ajusteBotoesTop">
    <div class="secretaria__botoes">
        <section>
            <img src="/images/DadosDoAlunoImg.png" alt="Imagem do botão Dados Do Aluno">
            <div class="secretaria__botoes__fonte">
                <a>Dados do Aluno</a>
            </div>
        </section>
    </div>

    <div class="secretaria__botoes">
        <section>
            <img src="/images/FiliacaoImg.png" alt="Imagem do botão Filiação">
            <div class="secretaria__botoes__fonte">
                <a>Filiação</a>
            </div>
        </section>
    </div>

    <div class="secretaria__botoes">
        <section>
            <img src="/images/MatriculaImg.png" alt="Imagem do botão Matrícula">
            <div class="secretaria__botoes__fonte">
                <a>Matrícula</a>
            </div>
        </section>
    </div>
    <div class="secretaria__botoes">
        <section>
            <img src="/images/HistoricoImg.png" alt="Imagem do botão Histórico">
            <div class="secretaria__botoes__fonte">
                <a>Histórico</a>
            </div>
        </section>
    </div>
</div>
<div class="secretaria__ajusteBotoesTop">
    <div class="secretaria__botoes">
        <section>
            <img src="/images/HistoricoImg.png" alt="Imagem do botão Histórico">
            <div class="secretaria__botoes__fonte">
                <a>Histórico</a>
            </div>
        </section>
    </div>

    <div class="secretaria__botoes">
        <section>
            <img src="/images/BoletimImg.png" alt="Imagem do botão Boletim">
            <div class="secretaria__botoes__fonte">
                <a>Boletim</a>
            </div>
        </section>
    </div>

    <div class="secretaria__botoes">
        <section>
            <img src="/images/CertificadodeconclusaoImg.png" alt="Imagem do botão Certificado">
            <div class="secretaria__botoes__fonte">
                <a>Certificado</a>
            </div>
        </section>
    </div>
</div>


@*<a class="fonteEstilo" style="color:#61e627">Filiacao</a>
<a class="fonteEstilo" style="color:#61e627">Matrícula</a>
<a class="fonteEstilo" style="color:#61e627">Histórico</a>
<a class="fonteEstilo" style="color:#61e627">Boletim</a>
<a class="fonteEstilo" style="color:#61e627">Atestado de Conclusão</a>*@
