/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Nanum Pen';
    src: url('nanum-pen-regular.ttf') format('truetype');
}

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Pen', cursive;
    font-weight: 400;
}

body {
    background: #ecf0f3;
}

.error {
    position: absolute;
    width: 30px;
}

.field-validation-error {
    color: #ff0000;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 12px;
    width: 30px;
    height: 31px;
    color: #5BF811;
}
.ajusteBusca {
    display: flex;
    justify-content: center;   
    gap: 10px;
}

.inputBusca {
    width: 20%;
}

.margemObterAluno{
    margin-top: 10%;
}
